Makefile
Makefile.in
aclocal.m4
autom4te.cache/
snippet/build/
config.log
config.status
config/
configure
core
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
otel_cpp.h
package
stamp-h1
test/otel-c-wrapper-test*
test/test-*
!test/test-*.*
version.h
.build-md5sums
.deps/
.libs/
*.la
*.lo
*.o
*.orig
*.pc
*.rej
*.so
_*
